<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add plant to storage</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>BloomBoost</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/plant}">Plants</a></li>
                </ul>
                <form th:action="@{/logout}" method="post">
                    <input  type="submit" value="Logout" class="btn btn-primary shadow" role="button">
                </form>
            </div>
        </div>
    </nav>
    <section class="py-5 my-5">
        <div class="container" style="text-align: center;width: 665px;">
            <div class="table-responsive">
                <form th:action="@{/personalizedplant/submitNew}" th:object="${registerPersonalizedPlant}" method="post" role="form">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select style="text-align: center" class="form-control" id="plantsdropDownList" th:field="*{plantName}">
                                        <option value="0" >select option</option>
                                        <option th:each="plant : ${allPlants}" th:value="${plant}" th:text="${plant.plantName}" >
                                        </option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('plantName')}" style="color:red;" th:errors="*{plantName}"/>
                                </td>
                            <tr/>

                            <tr>
                                <td>
<!--                                    <div class="mb-3"><input class="shadow-sm form-control" type="text" name="email" placeholder="Email" th:field="*{email}"></div>-->
                                    <input style="text-align: center" class="shadow-sm form-control" type="text" name="userLabel" placeholder="Your Label" th:field="*{userLabel}">
                                    <p th:if="${#fields.hasErrors('userLabel')}" style="color:red;" th:errors="*{userLabel}"/>

                                </td>
                            <tr/>

                            <tr>
                                <td>
                                    <p class="text-muted">How long ago was last watering?</p>
                                    <select style="text-align: center" class="form-control" id="wateringdaysdropDownList" th:field="*{lastWatering}">
<!--                                        <option value="-1" >How long ago was last watering?</option>-->
                                        <option th:each="day : ${days}" th:value="${day}" th:text="${day} + ' days'"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lastWatering')}" style="color:red;" th:errors="*{lastWatering}"/>
                                </td>
                            <tr/>

                            <tr>
                                <td>
                                    <p class="text-muted">How long ago was last sun exposure?</p>
                                    <select style="text-align: center" class="form-control" id="sundropDownList" th:field="*{lastSunExposure}">
                                        <option th:each="day : ${days}" th:value="${day}" th:text="${day} + ' days'"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lastSunExposure')}" style="color:red;" th:errors="*{lastSunExposure}"/>
                                </td>
                            <tr/>
                            <tr>
                                <td>
                                    <p class="text-muted">How long ago was last seed harvesting?</p>
                                    <select style="text-align: center" class="form-control" id="harvestdropDownList" th:field="*{lastHarvestingSeeding}">
                                        <option th:each="day : ${days}" th:value="${day}" th:text="${day} + ' days'"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lastHarvestingSeeding')}" style="color:red;" th:errors="*{lastHarvestingSeeding}"/>
                                </td>
                            <tr/>
                            <tr>
                                <td>
                                    <p class="text-muted">How long ago was last pruning?</p>
                                    <select style="text-align: center" class="form-control" id="pruningdropDownList" th:field="*{lastPruning}">
                                        <option th:each="day : ${days}" th:value="${day}" th:text="${day} + ' days'"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lastPruning')}" style="color:red;" th:errors="*{lastPruning}"/>
                                </td>
                            <tr/>
                            <tr>
                                <td>
                                    <p class="text-muted">How long ago was last cleaning leaves?</p>
                                    <select style="text-align: center" class="form-control" id="cleaningdropDownList" th:field="*{lastCleaningLeaves}">
                                        <option th:each="day : ${days}" th:value="${day}" th:text="${day} + ' days'"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lastCleaningLeaves')}" style="color:red;" th:errors="*{lastCleaningLeaves}"/>
                                </td>
                            <tr/>

                            <tr>
                                <td>
                                    <p class="text-muted">How long ago was last fertilizing?</p>
                                    <select style="text-align: center" class="form-control" id="fertilizingdaysdropDownList" th:field="*{lastFertilizing}">
                                        <option th:each="day : ${days}" th:value="${day}" th:text="${day} + ' days'"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lastFertilizing')}" style="color:red;" th:errors="*{lastFertilizing}"/>
                                </td>
                            <tr/>

                            <tr>
                                <td>
                                    <p class="text-muted">How long ago was last pot replacement?</p>
                                    <select style="text-align: center" class="form-control" id="potdaysdropDownList" th:field="*{lastPotReplacement}">
                                        <option th:each="day : ${days}" th:value="${day}" th:text="${day} + ' days'"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lastPotReplacement')}" style="color:red;" th:errors="*{lastPotReplacement}"/>
                                </td>
                            <tr/>

                            <tr>
                                <td>
                                    <p class="text-muted">How long ago was last soil replacement?</p>
                                    <select style="text-align: center" class="form-control" id="soildaysdropDownList" th:field="*{lastSoilReplacement}">
                                        <option th:each="day : ${days}" th:value="${day}" th:text="${day} + ' days'"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('lastSoilReplacement')}" style="color:red;" th:errors="*{lastSoilReplacement}"/>
                                </td>
                            <tr/>

<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <div>-->
<!--                                        <label for="lastWatering">Last Watering:</label>-->
<!--                                        <input type="date"  name="lastWatering"/>-->
<!--&lt;!&ndash;                                        <label for="student-birth-date">Date of birth:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="date" th:field="${student.birthDate}" id="student-birth-date"/>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->

                            <tr>
                                <td>
                                    <button class="btn btn-primary shadow" type="submit">Submit</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </section>
    <footer>

    </footer>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/startup-modern.js}"></script>
</body>

</html>