<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Users</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>BloomBoost</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">

                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/plant}">Plants</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/user}">Users</a></li>

                </ul>
                <form th:action="@{/logout}" method="post">
                    <input  type="submit" value="Logout" class="btn btn-primary shadow" role="button">
                </form>
            </div>
        </div>
    </nav>
    <section class="py-5 my-5">
        <div class="container py-5">
            <br/><br/>
            <div class="table-responsive" style="text-align: center;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">User ID</th>
                            <th style="text-align: center;">Email</th>
                            <th style="text-align: center;">Username</th>
                            <th style="text-align: center;">Is Activated?</th>
                            <th style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${usersList}">
                            <td style="text-align: center;" th:text="${user.userId}">
                            <td style="text-align: center;" th:text="${user.email}">
                            <td style="text-align: center;" th:text="${user.username}">
                            <td style="text-align: center;" th:text="${user.enabled}">

                            <td style="text-align: center;" >
                                <a th:href="@{/user/delete(userId=${user.userId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center;" >
                                        Delete
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <p th:if="${errorMessage}"  th:text="${errorMessage}" style="color:red;"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <footer>

    </footer>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/startup-modern.js}"></script>
</body>

</html>