<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Your plant</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>BloomBoost</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/plant}">Plants</a></li>
                </ul>
                <form th:action="@{/logout}" method="post">
                    <input  type="submit" value="Logout" class="btn btn-primary shadow" role="button">
                </form>
            </div>
        </div>
    </nav>
    <section class="py-5 mt-5">
        <div class="container py-4 py-xl-5" style="width: 477px;">
            <div class="table-responsive">
                <table class="table" style="border-color: white">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center; color: red; " th:text="${personalizedPlant.message}">
                    </tr>
                    </tbody>

                </table>
            </div>
            <div class="table-responsive">
                <table class="table" style="text-align: center">
<!--                    <input type="hidden" th:field="*{}" />-->
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Your Label</td>
                            <td th:text="${personalizedPlant.getUserLabel()}">
                        </tr>
                        <tr>
                            <td>Plant Type</td>
                            <td th:text="${personalizedPlant.getPlantName()}">
                        </tr>
                        <tr>
                            <td>Last Watering</td>
                            <td th:text="${personalizedPlant.getLastWatering()}"></td>
                        </tr>
                        <tr>
                            <td>Last Sun Exposure</td>
                            <td th:text="${personalizedPlant.lastSunExposure}"></td>
                        </tr>
                        <tr>
                            <td>Last Seed Harvesting</td>
                            <td th:text="${personalizedPlant.lastHarvestingSeeding}"></td>
                        </tr>
                        <tr>
                            <td>Last Pruning</td>
                            <td th:text="${personalizedPlant.lastPruning}"></td>
                        </tr>
                        <tr>
                            <td>Last Cleaning Leaves</td>
                            <td th:text="${personalizedPlant.lastCleaningLeaves}"></td>
                        </tr>
                        <tr>
                            <td>Last Fertilizing</td>
                            <td th:text="${personalizedPlant.getLastFertilizing()}">
                        </tr>
                        <tr>
                            <td>Last Pot Replacement</td>
                            <td th:text="${personalizedPlant.getLastPotReplacement()}">
                        </tr>
                        <tr>
                            <td>Last Soil Replacement</td>
                            <td th:text="${personalizedPlant.getLastSoilReplacement()}">
                        </tr>

                        <tr>
                            <td style="text-align: center;" >
                                <!--                                <a th:href="@{/getById(PersonalizedPlantId=${yourPlant.getPersonalizedPlantId})}">-->
                                <a th:href="@{/personalizedplant/water(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Water
                                    </button>
                                </a>
                            </td>
                            <td style="text-align: center;" >
                                <a th:href="@{/personalizedplant/fertilizer(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Fertilizer
                                    </button>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;" >
                                <a th:href="@{/personalizedplant/sun(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Expose to sun
                                    </button>
                                </a>
                            </td>
                            <td style="text-align: center;" >
                                <a th:href="@{/personalizedplant/harvest(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Harvest seeds
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" >
                                <a th:href="@{/personalizedplant/pruning(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Prun
                                    </button>
                                </a>
                            </td>
                            <td style="text-align: center;" >
                                <a th:href="@{/personalizedplant/clean(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Clean leaves
                                    </button>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;" >
                                <a th:href="@{/personalizedplant/pot(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Pot
                                    </button>
                                </a>
                            </td>
                            <td style="text-align: center;" >
                                <a th:href="@{/personalizedplant/soil(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Soil
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" >
                                <!--                                <a th:href="@{/getById(PersonalizedPlantId=${yourPlant.getPersonalizedPlantId})}">-->
                                <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                    Update
                                </button>
                                <!--                                </a>-->
                            </td>
                            <td style="text-align: center;" >
                                <a th:href="@{/personalizedplant/delete(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                    <button  class="btn btn-primary text-center" type="button" style="text-align: center; min-width: 170px" >
                                        Delete
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table" style="border-color: white;text-align: center">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a th:href="@{/personalizedplant/getPlantLogs(PersonalizedPlantId=${personalizedPlant.getPersonalizedPlantId})}">
                                <button  class="btn btn-primary text-center" type="button" style="text-align: center;" >
                                    See History
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </section>
    <footer>

    </footer>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/startup-modern.js}"></script>
</body>

</html>